<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CoursesApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if authenticated? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=<%= root_path %>>
              <i class="bi bi-house-fill"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=<%= courses_path %>>Courses</a>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if authenticated? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle"></i>
              <%= Current.user.email_address %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Account settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to session_path, method: :delete, class: "dropdown-item" do%>
                  <i class="bi bi-box-arrow-right"></i>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href=<%= new_session_path %>>Sign in</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href=<%= root_path %>>Sign up</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>